#topNav {
  background: dimgray;
  box-shadow: 0px 1px 10px 10px lightgray;
  height: auto;
  text-align: center;
  width: 100%;
}
#topNav > ul > li {
  display: inline;
}
#topNav > ul > li > a
{
  color: white;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  margin: 0px;
  padding: 0px 15px;
  text-decoration: none;
  transition: color 0.3s ease-in;
}
#topNav > ul > li > a:hover {
  color: lime;
}
.center {
  margin: 30;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
p1 {
 margin-right: 150px;
  margin-left: 80px;
  
}
p.ex1 {
  margin: 35px 100px 50px 0px;
}
  

